:root{
	--vermelho:#e50914;
	--preta:#141414;
  --roxo: #6f1abd;
  --roxo_claro: #ab66ea;
  --branco: #eee;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

/* base */

body{
	background:linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/background.jpg');
	font-family: "Arial", Times, serif;
	color: white;
}

header{
  background: #000;
	font-family: "Arial", Times, serif;
	color: white;
}

.icon{
  width: 40px;
}

.anibest{
  display:flex;
  align-items: center;
}

header .container{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}

.logo{
	color: var(--branco);
  text-shadow: 4px 2px var(--roxo);
	font-family: "Arial Black", Times;
	font-size:40px;
	margin-left: 5px;
}

.logo_link{
	text-decoration: none;
	outline: none;
	text-transform: none;
}

header nav a{
	text-decoration: none;
	color:#BBB;
   text-shadow: 1px 1px var(--roxo_claro);
	margin-right: 10px;
	font-size:20px;
}

header nav a:hover{
	color:#fff;
}

/* menu principal */

.filme-principal{
	font-size:16px;
	background: linear-gradient(rgba(0,0,0,.30), rgba(0,0,0,.30)100%), url('../img/Capa.png');
	height:600px;
	background-size:cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
}

.filme-principal .descricao{
	margin-top: 10px;
	margin-bottom: 40px;
	
}

.filme-principal .titulo{
	margin-top: 15%;
	font-size: 40px;
	font-family:"Arial Black", Times;
}

.botoes{
	display: flex;
}

.botao{
	background-color: rgba(0,0,0,.50);
	border:none;
	color:white;
	padding:15px 20px;
	margin: 10px;
	font-size: 12px;
	cursor:pointer;
	text-decoration: none;
	transition: .3s ease all;
}

.botao:hover{
	background-color:white;
	color:black;
}
/*modal*/
.modalA:target{
    opacity: 1;
    pointer-events: auto;
}

.modalA h3, .modalA h4{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Roboto Mono', monospace;
}

.modalA li, .modalA p{
    margin-left: 20px;
}

.modalA button#fechar{
    align-items: center;
    width: 25px;
	height: 25px;
    margin-top: 7px;
    margin-left: 7px;
	background-color: #aaa;
    border: 2px solid #aaa;
	border-radius: 100%;
}

.modalA button#fechar:hover{
    align-items: center;
    width: 25px;
	height: 25px;
	font-weight: bold;
    margin-top: 7px;
    margin-left: 7px;
    border: 2px solid #555;
}

.modalA > div {
    width: 100%;
    position: relative;
    padding: 15px 20px;
}

/*modal*/
.modalA{
    position: fixed;
    top: 60px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgba(255, 177, 82, 1);*/
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/love.gif');
	background-size: 100%;
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border: 3px solid #000;
    overflow: auto;
	
}

.botao i{
	margin-right: 8px;
}

.container{
	margin-left: 20px;
}

.filme-principal .container{
	width: 60%;
}

h3{
  color: white;
  text-shadow: 1px 1px var(--roxo_claro);
  
}


.box_filme{
  margin-top:20px;
  height:400px;
  width:100%;
  display:block;
}

.box_filme:hover{
	border: solid #AAA;
}

.carrosel-filmes {
	margin-top: 50px;
}


.carrosel-filmes h3{
	margin-top: 20px;
	margin-left: 20px;
}